DATACREDITO_PRESELECTA_TOKEN_URL=
DATACREDITO_PRESELECTA_SERVICE_URL=
DATACREDITO_PRESELECTA_CLIENT_ID=
DATACREDITO_PRESELECTA_CLIENT_SECRET=
DATACREDITO_PRESELECTA_USERNAME=
DATACREDITO_PRESELECTA_PASSWORD=

DATACREDITO_INCOME_TOKEN_URL=
DATACREDITO_INCOME_SERVICE_URL=
DATACREDITO_INCOME_CLIENT_ID=
DATACREDITO_INCOME_CLIENT_SECRET=
DATACREDITO_INCOME_USERNAME=
DATACREDITO_INCOME_PASSWORD=